<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
<div style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to right, #1777fe 0%, #529aff 100%);border-radius: 5px;color: #fff;">
    <h1>取消通知</h1>
    <p></p>
    <p>致歉！<strong th:text="${libraryName}">LIBRARY NAME</strong>即日起闭馆，您在本图书馆的预约/预定的书籍《<strong th:text="${bookName}">BOOK NAME</strong>》已自动取消。</p>
    <p>感谢您的支持！</p>
</div>
</body>
</html>