<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
<div style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to right, #1777fe 0%, #529aff 100%);border-radius: 5px;color: #fff;">
    <h1>取书通知</h1>
    <p></p>
    <p>您预约的图书：《<strong th:text="${bookName}">BOOK NAME</strong>》可以取书啦！</p>
    <p style="color: #dde2e2;padding-left: 14px;">
        请在<strong th:text="${days}">DAYS</strong>天内到<strong th:text="${libraryName}">LIBRARY NAME</strong>取书，逾期将取消预约。
    </p>
</div>
</body>
</html>