<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
<div style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to right, #1777fe 0%, #529aff 100%);border-radius: 5px;color: #fff;">
<h1>Hi! 亲爱的用户</h1>
<p></p>
<p>平台邀请您成为图书馆管理员，点击下方连接完成账号注册: </p>
<p style="color: #dde2e2;padding-left: 14px;">
    <a th:href="${link}" style="color: #fff;" target="_blank">去注册</a>
    <span>(为了保障您帐号的安全性,请在30分钟内完成验证,祝您生活愉快!)</span>
</p>
</div>
</body>
</html>